<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<mat-toolbar class="header">
    <span>Livraria de A à Z</span>
    <ul class="links">
        <a routerLink="/livros">cadastrar</a>
        <a routerLink="/livros">atualizar</a>
        <a routerLink="/livros">buscar</a>
        <a routerLink="/livros">excluir</a>
        <a mat-stroked-button routerLink="/livros" color="#D95E28">lista de livros</a>
    </ul>

</mat-toolbar>
