<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<mat-toolbar class="header">
    <span>Livraria de A à Z</span>
    <ul class="links">
        <a routerLink="/livro">
          <mat-icon>search</mat-icon>buscar</a>
        <a routerLink="/criar">
          <mat-icon>add</mat-icon>cadastrar</a>
        <a routerLink="/livro">
          <mat-icon>delete</mat-icon>excluir</a>
        <a mat-stroked-button routerLink="" color="#D95E28">
          <mat-icon>home</mat-icon>HOME</a>
    </ul>

</mat-toolbar>
