
.pagina {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(0deg, #ffc09b 3%, #ffe9b5 90%);
  height: auto;
  width: 100%;
  color: #D95E28;
}

.page-header {
  background: #D95E28;
}


.imagem {
  width: 100%;
  padding: auto;
  align-self: auto;

}

img {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  margin-left: 45px;
  margin-top: 25px;
  height: 15%;
  width: 15%;
  border: 1px solid #ffffff;
  border-radius: 7px;
}

h1 {
  font-family: 'Press Start 2P';
  color: #ffffff;
  font-weight: bolder;
  font-size: 25px;
  padding: 20px;
  margin-left: 25px;
}


a {
  color: #D95E28;
  background: #ffffff;
  font-size: 16px;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  margin: 20px 0 20px 45px;
}

.mat-form-field {
  width: 100%;
}

label {
  font-family: 'Press Start 2P';
  color:#D95E28;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 45px;
  font-weight: 500;
}

.col-xs-6 {
  margin-bottom: 30px;
}

input, textarea, mat-datepicker-toggle {
  font-family: 'Poppins', sans-serif;
  width: 80%;
  font-size: 25px;
  color: #D95E28;
  background: #ffffff;
  border: none;
  margin-left: 45px;
  margin-bottom: 10px;
}


label, input {
  display: block;
  font-size: 20px;
}

mat-hint, mat-error {
  margin-left: 45px;

}
