<div class="pagina">
  <div class="page-header">
    <div class="container">
      <h1>Editar</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a mat-stroked-button routerLink="/Livro" color="#D95E28">
          <mat-icon>chevron_left</mat-icon>
          Voltar
        </a>
        <a mat-stroked-button routerLink="" color="#D95E28" class="enviar" (click)="onDelete()">
          <mat-icon>clear</mat-icon>
          Deletar
        </a>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="imagem">
      <img src="../../../assets/capaLivro.png" alt="livro">
    </div>
  </div>

  <div class="formulario">
      <form #livroDetalhes="ngForm">

        <div class="col-xs-6">
            <label>Titulo</label>
            <input type="text" [(ngModel)]="livro.titulo" name="titulo" required/>
            <mat-error>Título é um campo obrigatório.</mat-error>
        </div>

        <div class="col-xs-6">
            <label>Subtitulo</label>
            <input type="text" [(ngModel)]="livro.subtitulo" name="subtitulo"/>
        </div>

        <div class="col-xs-6">
            <label>Resumo</label>
            <textarea matInput [(ngModel)]="livro.resumo" name="resumo"></textarea>
        </div>

        <div class="col-xs-6">
          <label>Número de páginas</label>
          <input type="number" max="10000" matInput [(ngModel)]="livro.numeroDePaginas" name="numeroDePaginas" required/>
          <mat-error>Número de páginas é um campo obrigatório.</mat-error>
        </div>


        <div class="col-xs-6">
            <label>Data de publicação</label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="livro.dataDePublicacao" name="dataDePublicacao" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>Data de publicação é obrigatória.</mat-error>
        </div>

        <div class="col-xs-6">
          <label>Editora</label>
          <input type="text" matInput [(ngModel)]="livro.editora" name="editoraNome" required/>
          <mat-error>Editora é um campo obrigatório.</mat-error>
        </div>

        <div class="col-xs-6">
          <label>Gênero do livro</label>
          <input type="text" matInput [(ngModel)]="livro.genero" name="nomeGenero"/>
        </div>

        <div class="col-xs-6">
            <label>Edição</label>
            <input type="number" matInput #edicao maxlength="2" [(ngModel)]="livro.edicao" name="edicao"/>
            <mat-hint align="end">{{edicao.value.length}} de 2 caracteres</mat-hint>
        </div>

        <div class="col-xs-6">
            <label>Coleção</label>
            <input type="text" matInput [(ngModel)]="livro.colecao" name="colecao"/>
        </div>

        <div class="col-xs-6">
          <label>Valor</label>
          <input type="float" matInput [(ngModel)]="livro.valor" name="valor"/>
        </div>

        <div class="col-xs-6">
          <label>Autor</label>
          <input type="text" matInput [(ngModel)]="livro.autorNome" name="autorNome" required/>
          <mat-error>Autor é um campo obrigatório.</mat-error>
        </div>


        <div class="col-xs-12">
          <div class="row between-xs">
            <a mat-stroked-button routerLink="/Livro" color="#D95E28" class="enviar" (click)="onUpdate()">
              <mat-icon>check_circle_outline</mat-icon>
              enviar
            </a>
          </div>
        </div>

    </form>
  </div>

</div>
