
<div class="pagina">
  <div class="page-header">
    <div class="container">
      <h1>Lista de livros</h1>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <input type="text" class="input-busca" placeholder="Buscar livros"
        [(ngModel)]="filterString"
        (keyup)="filtrarLivros()"
        >
      </div>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Titulo Column -->
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef> Título </th>
          <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>

         <!-- Subtítulo Column -->
         <ng-container matColumnDef="subtitulo">
          <th mat-header-cell *matHeaderCellDef> Subtítulo </th>
          <td mat-cell *matCellDef="let element"> {{element.subtitulo}} </td>
        </ng-container>

        <!-- Resumo Column -->
        <ng-container matColumnDef="resumo">
          <th mat-header-cell *matHeaderCellDef> Resumo </th>
          <td mat-cell *matCellDef="let element"> {{element.resumo}} </td>
        </ng-container>

        <!-- NumeroDePaginas Column -->
        <ng-container matColumnDef="numeroDePaginas">
          <th mat-header-cell *matHeaderCellDef> Número de Páginas </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroDePaginas}} </td>
        </ng-container>

        <!-- dataDePublicacao Column -->
        <ng-container matColumnDef="dataDePublicacao">
          <th mat-header-cell *matHeaderCellDef> Data de publicação </th>
          <td mat-cell *matCellDef="let element"> {{element.dataDePublicacao}} </td>
        </ng-container>

        <!-- Edição Column -->
        <ng-container matColumnDef="edicao">
          <th mat-header-cell *matHeaderCellDef> Edição </th>
          <td mat-cell *matCellDef="let element"> {{element.edicao}} </td>
        </ng-container>

        <!-- Coleção Column -->
        <ng-container matColumnDef="colecao">
          <th mat-header-cell *matHeaderCellDef> Coleção </th>
          <td mat-cell *matCellDef="let element"> {{element.colecao}} </td>
        </ng-container>

        <!-- Valor Column -->
        <ng-container matColumnDef="valor">
          <th mat-header-cell *matHeaderCellDef> Valor </th>
          <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
        </ng-container>

        <!-- Autor Column -->
        <ng-container matColumnDef="autor">
          <th mat-header-cell *matHeaderCellDef> Autor </th>
          <td mat-cell *matCellDef="let element"> {{element.autor.autorNome}} </td>
        </ng-container>

        <!-- Editora Column -->
        <ng-container matColumnDef="editora">
          <th mat-header-cell *matHeaderCellDef> Editora </th>
          <td mat-cell *matCellDef="let element"> {{element.editora.editoraNome}} </td>
        </ng-container>

        <!-- Genero Column -->
        <ng-container matColumnDef="genero">
          <th mat-header-cell *matHeaderCellDef> Gênero </th>
          <td mat-cell *matCellDef="let element"> {{element.genero.generoNome}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [length]="100"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                aria-label="Select page">
      </mat-paginator>
    </div>
  </div>

</div>
